.btn{
    width: 100%;
  }
  .logo{
    text-align: center;
  }
  .icons{
    width: 75px;
    height: 75px;

  }
  .headers{
    text-align: center;
}
.boxes{
  width: 25px;
  height: 25px;
  float: right;
}
.boxe{
  float: right;
}
.tec{
  text-align: center;
}