<ion-header [translucent]="true">
  <ion-toolbar color="dark" class="headers">
      <ion-title>
        SEARCH
      </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-button (click)="logout()"class="salir" color="medium"><ion-icon name="log-out-outline"></ion-icon></ion-button>
  <br>
  <br>
  <ion-card class="headers">
      <ion-card-header color="medium">
          <h2 class="encabezado" >Bienvenido Socio</h2>
      </ion-card-header>
  </ion-card>
  
</ion-content>