.mujer {
    background-color: #6801493f;
}

.hombre {
    background-color: #0301683f;
}
.headers{
    text-align: center;
}
.icons{
    width: 90px;
    height: 90px;
  }
  .boxes{
    width: 25px;
    height: 25px;
  }
  .boxe{
      float: right;
    width: 25px;
    height: 25px;
  }
  .salir{
    width:auto;
    float: right;
  }
  
.btn{
  width: 100%;
}